.button {
    background-color: #ff944d;
    text-align: center;
    font-size: 100%;
    padding:5px;
    margin: 10px;
    color: #ffe0cc;
    font-family: Arial;
    align-self: center;
    border-radius: 11px;
    border: 1px black solid;
}

.pdfdiv {
    margin-left: 25%;
}

